.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.slide-up{
  animation: slide-up 0.7s cubic-bezier(0.65, 0, 0.35, 1) both
}

.slide-up-3{
  animation: slide-up 0.8s cubic-bezier(0.65, 0, 0.35, 1) both
}

.slide-up-2{
  animation: slide-up 0.5s cubic-bezier(0.65, 0, 0.35, 1) both
}

.slide-up-img{
  animation: slide-up 0.5s cubic-bezier(0.65, 0, 0.35, 1) both
}
  
@keyframes slide-up{
  0%
    {transform: translateY(100px)}
  100%
    {transform: translateY(0)}}

@keyframes slide-up-2 {
  0%
    {transform: translateY(100px)}
  100%
    {transform: translateY(0)}}

    @keyframes slide-up-3{
      0%
        {transform: translateY(100px)}
      100%
        {transform: translateY(0)}}

@keyframes slide-up-img {
  0%
    {transform: translateY(100px)}
  100%
    {transform: translateY(0)}}


